<main class="px-3 flex flex-col items-center justify-center">
    <article
        class="bg-neutral-400/20 flex flex-col items-center justify-center text-black  w-3/4 shadow-2xl mt-5 rounded-lg p-4" [@slideInFromRight]>
        <h1>Ordenes Pendientes: {{length}}</h1>
        @if (ordersInPreparation.length > 0) {
        <div class="p-4 mt-4 rounded-lg">
            <ul>
                @for (order of ordersInPreparation; track $index) {
                <li class="mb-2 list-disc">
                    <span>
                        Orden número {{$index+1}}
                    </span>

                </li>
                <mat-divider></mat-divider>
                }
            </ul>
        </div>
        } @else {
        <div class="rounded-lg "></div>
        }
    </article>
    <article [@slideInFromRight]
        class="bg-neutral-400/20 flex flex-col items-center justify-center text-black  w-3/4 shadow-2xl mt-5 rounded-lg p-4">
        <h1>
            Orden a Preparar
        </h1>
        @if (currentOrder) {
        <div class="bg-green-200 p-4 rounded-lg">
            <h2 class="text-2xl font-bold mb-2">Orden Actual</h2>
            <!-- {{currentOrder.ingredient}} -->
        </div>
        }

        @if (currentOrder) {
        <div class="flex mt-4">
            <button mat-raised-button color="warn" (click)="deleteOrder()" class="mr-2">Eliminar Orden</button>
            <button mat-raised-button color="primary" (click)="completeOrder()">Completar Orden</button>
        </div>
        }
    </article>
</main>