<mat-toolbar class="w-full flex items-center justify-between" color="primary">
    <!-- title -->
    <h1 class="font-medium text-white">Restaurant</h1>
    <!-- links -->
    <ul class="flex gap-3">
        <li>
            <a routerLink="/home/" routerLinkActive="/home" mat-stroked-button color="link">
                <!-- <mat-icon>home</mat-icon> -->
                Inicio
            </a>
        </li>
        <button mat-stroked-button color="link" [matMenuTriggerFor]="menu">
            Ordenes
            <mat-icon>expand_more</mat-icon>
        </button>
        <mat-menu #menu="matMenu">
            <button mat-menu-item>
                Registrar
            </button>
            <button mat-menu-item>
                Preparar
            </button>
            <button mat-menu-item>
                Completadas
            </button>
        </mat-menu>

    </ul>
    <ul class="flex gap-3 bg-white rounded-full items-center justify-center p-1">
        <li class="w-1/3 h-full flex items-center justify-center">
            <a href="https://gitlab.com/Yayo22124"
                class="hover:scale-105 active:scale-95 hover:bg-neutral-400/20 rounded-full p-1">
                <img src="assets/gitlab.svg" alt="gitlab icon">
            </a>
        </li>
        <li class="w-1/3 h-full flex items-center justify-center">
            <a href="https://github.com/Yayo22124"
                class="hover:scale-105 active:scale-95 hover:bg-neutral-400/20 rounded-full p-1">
                <img src="assets/github.svg" alt="github icon">
            </a>
        </li>
        <li class="w-1/3 h-full flex items-center justify-center">
            <a href="https://www.linkedin.com/in/haziel-ortiz"
                class="hover:scale-105 active:scale-95 hover:bg-neutral-400/20 rounded-full p-1">
                <img src="assets/linkdin.svg" alt="linkdin icon">
            </a>
        </li>
    </ul>
</mat-toolbar>